<% include partials/header.ejs %>
<% include partials/middle.ejs %>

			<!-- start banner Area -->
			<section  class= "banner-area relative" id="home">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		        	<div class="carousel-inner" role="listbox">
			          <!-- Slide One - Set the background image for this slide in the line below -->
			          <div class="carousel-item active" style="background-image: url(scholarship.jpg); height:350px">
			            <br><br><br><br><br><br><br><br><br><br>
			            <div class="banner-content col-lg-02 col-md-02 justify-content-center"><br>
							<a href="/scholarships" class="primary-btn squire text-uppercase mt-10"> &nbsp Search scholarships &nbsp </a>
						</div>											
		          	</div>
		        </div>
		        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		          <span class="sr-only">Previous</span>
		        </a>
		        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		          <span class="carousel-control-next-icon" aria-hidden="true"></span>
		          <span class="sr-only">Next</span>
		        </a>
		      </div>
			</section>
			<!-- End banner Area -->

			

			<!-- Start features Area -->
			<br><br>
			<section>
				<div class="row mb-5">
            		<div class="card mb-3 col-lg-3 col-md-4 mx-auto" style="max-width: 18rem;">
					  <div class="card-header text-white bg-dark" style="text-align: center; padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 3px; border-radius: 8px; background-color: #485461;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);">
					  	<h4 class="mx-auto" style="color: white">News Updates</h4>
					  </div>
					  <div class="card-body">
					    <marquee behaviour="scroll" direction="left" id="1"></marquee>
					  </div>
					</div>

					<div class="container col-lg-7 col-md-10 mx-auto" style="margin-left: -60px">
						<div style="background-color: #202020; text-align: center; padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 3px; border-radius: 8px; background-color: #485461;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);">
                            <h4 class="mx-auto" style="color: white;">Latest Scholarships</h4>
                        </div>
                        <div>
                            <div class="row mt-3" id="scholardetails">

									<!-- <div class="col-sm-6 mt-2"><div class="card ml-auto"><div class="card-body"><h5 class="card-title">Vocational Education Fee Reimbursement.</h5><i class="fas fa-landmark prefix mr-1"></i><span class="card-text">Governement</span><br><a href="https://mahadbt.maharashtra.gov.in/login/login" class="btn btn-sm btn-outline-primary mt-3" style="border-radius: 25px; ">Check this</a></div></div></div>
									<div class="col-sm-6 mt-2"><div class="card ml-auto"><div class="card-body"><h5 class="card-title">Rajarshri Chhatrapati Shahu Maharaj Fee Reimbursement Scheme</h5><i class="fas fa-landmark prefix mr-1"></i><span class="card-text">Governement</span><br><a href="https://mahadbt.maharashtra.gov.in/SchemeData/SchemeData?str=E9DDFA703C38E51ADB3BC6C89611BF9A" class="btn btn-sm btn-outline-primary mt-3" style="border-radius: 25px; ">Check this</a></div></div></div>
									<div class="col-sm-6 mt-2"><div class="card ml-auto"><div class="card-body"><h5 class="card-title">Government of India PostnilMatric Scholarship</h5><i class="fas fa-landmark prefix mr-1"></i><span class="card-text">Goverment</span><br><a href="" class="btn btn-sm btn-outline-primary mt-3" style="border-radius: 25px; ">Check this</a></div></div></div> -->
									<div class="col-sm-6 mt-2">
    <div class="card ml-auto">
        <div class="card-body">
            <h5 class="card-title">Vocational Education Fee Reimbursement.</h5>
            <i class="fas fa-landmark prefix mr-1"></i>
            <span class="card-text">Government</span><br>
            <a href="https://mahadbt.maharashtra.gov.in/login/login" class="btn btn-sm btn-outline-primary mt-3" style="border-radius: 25px; ">Check this</a>
        </div>
    </div>
</div>

<div class="col-sm-6 mt-2">
    <div class="card ml-auto">
        <div class="card-body">
            <h5 class="card-title">Rajarshri Chhatrapati Shahu Maharaj Fee Reimbursement Scheme</h5>
            <i class="fas fa-landmark prefix mr-1"></i>
            <span class="card-text">Government</span><br>
            <a href="https://mahadbt.maharashtra.gov.in/login/login" class="btn btn-sm btn-outline-primary mt-3" style="border-radius: 25px; ">Check this</a>
        </div>
    </div>
</div>

<!-- Repeat the above structure for the remaining rows with appropriate values -->
<!-- Row 3 -->
<div class="col-sm-6 mt-2">
    <div class="card ml-auto">
        <div class="card-body">
            <h5 class="card-title">Government of India PostnilMatric Scholarship</h5>
            <i class="fas fa-landmark prefix mr-1"></i>
            <span class="card-text">Government</span><br>
            <a href="https://mahadbt.maharashtra.gov.in/login/login" class="btn btn-sm btn-outline-primary mt-3" style="border-radius: 25px; ">Check this</a>
        </div>
    </div>
</div>

<!-- Row 4 -->
<div class="col-sm-6 mt-2">
    <div class="card ml-auto">
        <div class="card-body">
            <h5 class="card-title">Rajarshri Chhatrapati Shahu Maharaj Merit Scholarship</h5>
            <i class="fas fa-landmark prefix mr-1"></i>
            <span class="card-text">Government</span><br>
            <a href="https://mahadbtmahait.gov.in/SchemeData/SchemeData?str=E9DDFA703C38E51A3160277BCF2AA7C6" class="btn btn-sm btn-outline-primary mt-3" style="border-radius: 25px; ">Check this</a>
        </div>
    </div>
</div>

<!-- Row 5 -->
<div class="col-sm-6 mt-2">
    <div class="card ml-auto">
        <div class="card-body">
            <h5 class="card-title">Swami vivekanand scholarship</h5>
            <i class="fas fa-landmark prefix mr-1"></i>
            <span class="card-text">Government</span><br>
            <a href="https://www.successcds.net/Scholarships/swami-vivekananda-merit-cum-means-scholarship.html" class="btn btn-sm btn-outline-primary mt-3" style="border-radius: 25px; ">Check this</a>
        </div>
    </div>
</div>

<!-- Row 6 -->
<div class="col-sm-6 mt-2">
    <div class="card ml-auto">
        <div class="card-body">
            <h5 class="card-title">Vidyasaarathi Scholarship</h5>
            <i class="fas fa-landmark prefix mr-1"></i>
            <span class="card-text">Private</span><br>
            <a href="https://www.successcds.net/Scholarships/acc-vidyasaarathi-scholarship.html" class="btn btn-sm btn-outline-primary mt-3" style="border-radius: 25px; ">Check this</a>
        </div>
    </div>
</div>

<!-- Row 7 -->
<div class="col-sm-6 mt-2">
    <div class="card ml-auto">
        <div class="card-body">
            <h5 class="card-title">ONGC scholarship</h5>
            <i class="fas fa-landmark prefix mr-1"></i>
            <span class="card-text">Private</span><br>
            <a href="https://www.successcds.net/Scholarships/ongc-scholarships-for-sc-st-students.html" class="btn btn-sm btn-outline-primary mt-3" style="border-radius: 25px; ">Check this</a>
        </div>
    </div>
</div>

<!-- Row 8 -->
<div class="col-sm-6 mt-2">
    <div class="card ml-auto">
        <div class="card-body">
            <h5 class="card-title">Colgate scholarship</h5>
            <i class="fas fa-landmark prefix mr-1"></i>
            <span class="card-text">Private</span><br>
            <a href="https://www.successcds.net/Scholarships/colgate-dental-cream-scholarships.html" class="btn btn-sm btn-outline-primary mt-3" style="border-radius: 25px; ">Check this</a>
        </div>
    </div>
</div>

<!-- Row 9 -->
<div class="col-sm-6 mt-2">
    <div class="card ml-auto">
        <div class="card-body">
            <h5 class="card-title">Colgate scholarship</h5>
            <i class="fas fa-landmark prefix mr-1"></i>
            <span class="card-text">Private</span><br>
            <a href="https://www.successcds.net/Scholarships/colgate-dental-cream-scholarships.html" class="btn btn-sm btn-outline-primary mt-3" style="border-radius: 25px; ">Check this</a>
        </div>
    </div>
</div>

<!-- Row 10 -->
<div class="col-sm-6 mt-2">
    <div class="card ml-auto">
        <div class="card-body">
            <h5 class="card-title">Pragati scholarship</h5>
            <i class="fas fa-landmark prefix mr-1"></i>
            <span class="card-text">Government</span><br>
            <a href="https://www.successcds.net/Scholarships/aicte-pragati-scholarship-scheme-for-girl-students.html" class="btn btn-sm btn-outline-primary mt-3" style="border-radius: 25px; ">Check this</a>
        </div>
    </div>
</div>

<button style="margin-left: 400px; margin-top: 30px; ;">Load More..</button>

							</div>
                        </div>
					</div>
				</div>	
			</section>
			<!-- End features Area -->

			
			<!-- start footer Area -->		
			
			<!-- End footer Area -->	

			<script type="text/javascript">
				$.ajax({
				url:"https://doit-ramrajani1998.c9users.io/newsupdate",
				type:"GET",
				dataType: 'json',
				headers: {
				'Content-Type':'application/json' 
				},
				success:function(data) {var updates = [];
                    updates = data.data.split("     ");
                    for(var i=0;i<updates.length;i++){
                        var tag = "<p style=\"color:red\">";
                        var update = tag.concat(updates[i]);
                        update.concat("</p>");
                        $('#1').append(update);
                    }			}
			});

			(function fun(){
				const updates=["vidhyalaxmi",
  "sbi loan schema",
  "BOI Loan ",
  "V-Mart Ujjwal Bhavishya Scholarship",
  "Bhajan Lal Scholarship",
  "Narotam Sekhsaria Scholarship",
  "K. C. Mahindra Scholarships",
  "Pre-metric, Post Metric Karnataka scholarship",
  "Baba Gurbachan Singh Scholarship",
  "Vocational Education Fee Reimbursement",
  "Rajarshri Chhatrapati Shahu Maharaj Fee Reimbursement Scheme",
  "Government of India PostnilMatric Scholarship,Government",
  "Rajarshri Chhatrapati Shahu Maharaj Merit Scholarship",
  "Pragati scholarship,Government",
  "Colgate scholarship",
  "ONGC scholarship",
  "Vidyasaarathi Scholarship",
  "Vidyasaarathi Scholarship",
  "Rajarshri Chhatrapati Shahu Maharaj Merit Scholarship",
  "Government of India PostnilMatric Scholarship,Government",
  "Vocational Education Fee Reimbursement",
  "Vocational Education Fee Reimbursement",
  "Government of India PostnilMatric Scholarship,Government" ]
				for(var i=0;i<updates.length;i++){
                        var tag = "<p style=\"color:black\">";
                        var update = tag.concat(updates[i]);
                        update.concat("</p>");
                        $('#1').append(update);
                    }		
			})();
			</script>


			<script>
                  
               $.ajax({
				url:"https://doit-ramrajani1998.c9users.io/fourscholars",
				type:"GET",
				dataType: 'json',
				headers: {
				'Content-Type':'application/json' 
				},
// id,sname,authority,aname,category,spass ,cutoff,state,applbranchtotal,applbranch,incomelimit,benefit,link,renewpolicy,docrequired
// 1,Vocational Education Fee Reimbursement.,Government,Tribal Development Department,ST,12,pass,Maharashtra,7,"Engineering, Pharmacy , Animal Husbandry, Dairy Development, Vaastu Shastra, MBA, MCA",250000,Tuition Fee and Exam Fee,https://mahadbtmahait.gov.in/SchemeData/SchemeData?str=E9DDFA703C38E51AC6B28ED14CE96709,<p>If student fails in any year then he is not paid the scholarship for that particular year</p>,<p>Caste certificate issued by Competent authority.</p><p>Domicile certificate of Maharashtra</p><p>College admission receipt</p><p>Caste Validity Certificate</p>
// 2
				success:function(data) {
						const data = [
							{id:1,sname:"Vocational Education Fee Reimbursement",authority:"Government",aname:"Tribal Development Department",category:"Tribal Development Department",spass:"ST",cutoff:"12 pass",state:"maharashtra"}
						]
					for(var i=0;i<data.length;i++){

					$('#scholardetails').append('<div class="col-sm-6 mt-2"><div class="card ml-auto"><div class="card-body"><h5 class="card-title">'+data[i].sname+'</h5><i class="fas fa-landmark prefix mr-1"></i><span class="card-text">'+data[i].authority+'</span><br><a href="'+location.origin+'/viewscholarship?id='+data[i].id+'" class="btn btn-sm btn-outline-primary mt-3" style="border-radius: 25px; ">Check this</a></div></div></div>');
					

					}
				}
			});
    





			</script>
			
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.4/js/mdb.min.js"></script>


		</body>
	</html>